body{
  background-color: #A3B18A; 
}
h1{
  font-size: 430%;
  letter-spacing: 5px;
  color: #012509;
  text-decoration
  text-decoration-color: #2C5F38;
  font-family: Lucida Handwriting
}
p{
  font-size: 250%;
  color: #2C5F38;
  line-height: 1.5;
}
ul{
  text-align: center;
  list-style-type: none;
  position: fixed;
  
}
li{
  float: left;
}
li a{
  padding: 20px;
  text-decoration: none;
}
li a:hover{
  background-color: #CADBC0;
}
p1{
  font-size: 200%;
  line-height: 2;
  letter-spacing: 1px
}
